.count-slider-container {
  margin-bottom: 35px;
}
.year-slider-container,
.count-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-slider-container .noUi-connect,
.year-slider-container .noUi-connect {
  background: #278d9f;
}

.count-slider-container .noUi-horizontal .noUi-handle,
.year-slider-container .noUi-horizontal .noUi-handle {
  width: 32px;
  height: 32px;
  right: -15px;
  top: -8px;
  border-radius: 50%;
  cursor: ew-resize;
}
.count-slider-container .noUi-handle,
.year-slider-container .noUi-handle{
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}
